.gxbar{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
}

.gxbar_part_1{
    display: flex;
    width: 96%;
    height: 260Px;
    margin: 0% 2% 0 2%;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.gxbar_part_1_title{
    display: flex;
    font-size: 30px;
    // font-weight: bold;
    align-self: start;
    flex: 1;
    align-self: flex-start;
    justify-content: flex-start;
    padding:10px 0 0 10px;
}

.gxbar_chart_jnqndb{
    display: flex;
    width: 100%;
    height: 90%;
    flex-direction: row;
}