.today_total_kuang{
    display: flex;
    width: 92%;
    height: 88%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    top: 5%;
    left: 4%;
}

.today_total_unit{
    display: flex;
    width: 25%;
    height: 70Px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.ttu_today{
    display: flex;
    height: 20Px;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    font-size: 13Px;
}

.ttu_today .ttu_today_w{
    display: flex;
    color: #333;
}

.ttu_today .ttu_today_n{
    display: flex;
    color: red;
}

.ttu_total{
    display: flex;
    height: 30Px;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    color: #577FF4;
}

.ttu_total .ttu_total_n{
    display: flex;
    font-size: 20Px;
}

.ttu_total .ttu_total_w{
    display: flex;
    font-size: 13Px;
    align-self: flex-start;
    line-height: 32Px;
}

.ttu_word{
    display: flex;
    height: 20Px;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    font-size: 13Px;
    color: #000;
}

.ttd_line_view{
    display: flex;
    width: 8%;
    height: 90%;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
}

.ttd_line{
    display: flex;
    width: 0;
    height: 60%;
    border: none;
    border-right: 1Px solid #ccc;
}