.cpxgstj{
    display: flex;
    height: auto;
    width: 100%;
}

.cpxgstj_part_1{
    display: flex;
    width: 96%;
    height: auto;
    margin: 0% 2% 0 2%;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.cpxgstj_part_1_title{
    display: flex;
    height: 30Px;
    font-size: 14Px;
    align-self: start;
    flex: 1;
    align-self: flex-start;
    justify-content: flex-start;
    padding:10Px 0 0 10Px;
}

.cpxgstj_table{
    display: flex;
    width: 98%;
    height: auto;
    margin: 3Px 1% 10Px 1%;
    flex-direction: column;
}

.cpxgstj_table_head,.cpxgstj_table_tr{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cpxgstj_table_tr{
    border-right: 1px solid #ccc;
}

.cpxgstj_table_tr:last-child{
    border-bottom: 1px solid #ccc;
}

.cpxgstj_table_head_th,.cpxgstj_table_head_td{
    display: flex;
    height: 35Px;
    flex: 1 1 18%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cpxgstj_table_head_td{
    background-color: #F8F8F8;
    border-top: 1Px solid #ccc;
    border-left: 1Px solid #ccc;
    flex: 1 1 calc(18% - 2Px);
}

.cpxgstj_table_head_td:nth-child(1){
    flex: 1 1 calc(28% - 2Px);
}

.cpxgstj_table_tr:last-child .cpxgstj_table_head_td{
    background-color: #F0F8FF;
}

.cpxgstj_table_head_th:nth-child(1){
    flex: 1 1 28%;
    background-color: #ECFBFB;
}

.cpxgstj_table_head_th:nth-child(2){
    background-color: #DAE9F9;
}

.cpxgstj_table_head_th:nth-child(3){
    background-color: #FFECEC;
}

.cpxgstj_table_head_th:nth-child(4){
    background-color: #D7F7FF;
}

.cpxgstj_table_head_th:nth-child(5){
    background-color: #E6FDED;
}